body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.title{
    text-align: center;
    width: 60%;
    margin: 30px auto;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}
.music-player {
    text-align: center;
    width: 60%;
    margin: 50px auto;
}

.audio-controls {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    background-color: #eee;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.progress {
    background-color: #3498db;
    height: 100%;
    border-radius: 5px;
    width: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px 10px;
    font-size: 12px;
    cursor: pointer;

}

button:hover {
    background-color: #2980b9;
}

button:focus {
    outline: none;
}

button#playBtn::before {
    content: "\25B6";
}

button#pauseBtn::before {
    content: "\II";
}

button#stopBtn::before {
    content: "\25A0";
}

